.p-productSubMenu {
  @include media-breakpoint-up(xl) {
    font-size: 24px;
  }
  &__item {
    @include media-breakpoint-down(md) {
      margin-right: 24px !important;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 40px !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }
}