extends extends/_layoutTemplate.jade

block mainInner
  section.container-fluid
    .row
      .container
        h2 grid system
        .row
          .col-sm-4
            .bg-primary.text-white 
              | .col-sm-4.bg-primary.text-white
              br
              a.bg-primary(href="#") a.bg-primary(href="#")
              br
              a.text-primaryprimary(href="#") a.text-primary(href="#")
          .col-sm-4
            .bg-secondary.text-white 
              | .col-sm-4.bg-secondary.text-white
              br
              a.bg-secondary(href="#") a.bg-secondary(href="#")
              br
              a.text-secondary(href="#") a.text-secondary(href="#")
          .col-sm-4
            .bg-danger.text-white 
              | .col-sm-4.bg-danger.text-white 
              br
              a.bg-danger(href="#") a.bg-danger(href="#")
              br
              a.text-danger(href="#") a.text-danger(href="#")
          .col-sm-4
            .bg-warning.text-white 
              | .col-sm-4.bg-warning.text-white 
              br
              a.bg-warning(href="#") a.bg-warning(href="#")
              br
              a.text-warning(href="#") a.text-warning(href="#")
          .col-sm-4
            .bg-dark.text-white 
              | .col-sm-4.bg-dark.text-white
              br
              a.bg-dark(href="#") a.bg-dark(href="#")
              br
              a.text-dark(href="#") a.text-dark(href="#")
          .col-sm-4
            .bg-info.text-white 
              | .col-sm-4.bg-info.text-white
              br
              a.bg-info(href="#") a.bg-info(href="#")
              br
              a.text-info(href="#") a.text-info(href="#")
          .col-sm-4
            .bg-light.text-black 
              | .col-sm-4.bg-light.text-black 
              br
              a.bg-light(href="#") a.bg-light(href="#")
              br
              a.text-light(href="#") a.text-light(href="#")
          .col-sm-4
            .bg-lightGray.text-white 
              | .col-sm-4.bg-lightGray.text-white 
              br
              a.bg-lightGray(href="#") a.bg-lightGray(href="#")
              br
              a.text-lightGray(href="#") a.text-lightGray(href="#")
          .col-sm-4
            .bg-success.text-white 
              | .col-sm-4.bg-success.text-white
              br
              a.bg-success(href="#") a.bg-success(href="#")
              br
              a.text-success(href="#") a.text-success(href="#")
          .col-sm-4
            .bg-transparent.text-black 
              | .col-sm-4.bg-transparent.text-black
              br
              a.bg-transparent(href="#") a.bg-transparent(href="#")
              br
              a.text-transparent(href="#") a.text-transparent(href="#") (沒這個樣式)
  section.container-fluid.mb-6
    .row
      .container
        hr
        h2 material-icons
        p.mb-0
          i.material-icons
            | arrow_back
          i.material-icons
            | shopping_cart
          i.material-icons
            | add
          i.material-icons
            | remove
          i.material-icons
            | clear
          i.material-icons
            | keyboard_arrow_left
          i.material-icons
            | keyboard_arrow_down
          i.material-icons
            | keyboard_arrow_up
          i.material-icons
            | dehaze
        p.mb-0
          span.mr-2 Link To
          a(href="https://material.io/tools/icons/?style=baseline") https://material.io/tools/icons/?style=baseline

        hr
        h2 logo
        .row
          .col-sm-6
            .font-raleway.text-capitalize
              | Craftsman
            p 透過工具類樣式 <code>.font-raleway.text-capitalize</code> 基本組合
          .col-sm-6
            h2.text-capitalize.font-raleway
              //- | CRAFTsman
              | craftsman
            p 工具類樣式透過標題標籤組合
          .col-sm-6
            .logo
              | craftsman
            p 使用 <code>.logo</code> 樣式
          .col-sm-6
            a.logo(href="#")
              | craftsman
            p 使用 <code>a.logo</code> 樣式
        
        hr
        h2 typography (段落與標題)
        .row
          .col-md-6
            .display-1
              | 這是 <code>.display-1</code> 
            .h6 (font-size: 48px)
          .col-md-6
            .display-2
              | 這是 <code>.display-2</code> 
            .h6 (font-size: 24px)
        .row
          .col-md-3
            h1 
              | 這是 <code>h1</code>
            .h6 (font-size: 48px)
          .col-md-3
            .h1 
              | 這是 <code>.h1</code>
            .h6 (font-size: 48px)
          .col-md-3
            h2 這是 <code>h2</code>
            .h6 (font-size: 32px)
          .col-md-3
            .h2 這是 <code>.h2</code>
            .h6 (font-size: 32px)
          .col-md-3
            h3 這是 <code>h3</code>
            .h6 (font-size: 24px)
          .col-md-3
            .h3 這是 <code>.h3</code>
            .h6 (font-size: 24px)
          .col-md-3
            h4 這是 <code>h4</code>
            .h6 (font-size: 20px)
          .col-md-3
            .h4 這是 <code>.h4</code>
            .h6 (font-size: 20px)
          .col-md-3
            h5 這是 <code>h5</code>
            .h6 (font-size: 16px / fontSize base)
          .col-md-3
            .h5 這是 <code>.h5</code>
            .h6 (font-size: 16px / fontSize base)
          .col-md-3
            h6 這是 <code>h6</code>
            .h6 (font-size: 14px)
          .col-md-3
            .h6 這是 <code>.h6</code>
            .h6 (font-size: 14px)
        .row
          .col-md-3
            small 這是 <code>small</code> (14px)
          .col-md-3
            .small 這是 <code>.small</code> (14px)

        hr
        h2 btn
        .row
          .col-12
            .btn-group(role='group', aria-label='Basic example')
              button.btn.btn-secondary(type='button') Left
              button.btn.btn-primary(type='button') Middle
              button.btn.btn-secondary(type='button') Right

        hr
        .input-group.mb-5(style="max-width: 150px;")
              .input-group-prepend
                button.btn.btn-light(type='button')
                  .material-icons.align-middle
                    | add
              input.form-control.bg-light.border-0.text-center.h-auto.px-1(type='text', value="1")
              .input-group-append
                button.btn.btn-light(type='button')
                  .material-icons.align-middle
                    | remove

        input.form-control(type='text', value="1")
