extends extends/_layoutTemplate.jade

block nav
  - var path = 'checkout-2.html'
  include ./components/nav/_c-nav.jade

block mainInner
  // section.container-fluid.p-fixedNavSectionFirst.pt-1.pt-md-0
  section.container-fluid.p-fixedNavSectionFirst.pt-1.pt-md-0
    article.row
      .container-md
        .row
          .col-md-5.col-xl-4.mr-xl-auto.order-md-3.mb-6
            // _c-toogleCard.jade
            include ./components/_c-toogleCard.jade
            // /_c-toogleCard.jade
          // /.col-md-5.col-xl-4.mr-xl-auto.order-md-3.mb-6
          nav.col-12.col-xl-10.order-md-1.mb-6.mb-xl-8.mx-xl-auto(aria-label="breadcrumb")
            // _c-breadcrumb--cart.jade
            - var path = 'checkout-2.html'
            include ./components/_c-breadcrumb--cart.jade
            // /_c-breadcrumb--cart.jade
          // /nav.col-12.col-xl-10.order-md-1.mb-6.mb-xl-8.mx-xl-auto(aria-label="breadcrumb")
          form.col-md-7.col-xl-6.order-md-2.ml-xl-auto
            .form-row.mb-6.mb-md-8
              .col-12
                h4.h4
                  | Information
                #parentCardInfo.accordion
                  // .card.bg-transparent.c-toogleCard -- js-multi-collapse-CardInfoOne
                  .card.bg-transparent.c-toogleCard
                    .card-header.bg-transparent.border-bottom-0.py-4.c-toogleCardHeader.collapsed(data-toggle="collapse", data-target=".js-multi-collapse-CardInfoOne")
                      h5.c-toogleCardHeader__title Contact
                      p.h6.text-lightGray.c-toogleCardHeader__text.js-multi-collapse-CardInfoOne.collapse.show
                        span.d-sm-none Joanne@mail.com…
                        span.d-none.d-sm-inline Joanne Lin / Joanne@mail.com / +886 912-345-678
                      span.material-icons.text-primary.toggleIcon.c-toogleCardHeader__icon(data-toggle="collapse", data-target=".js-multi-collapse-CardInfoOne")
                        | keyboard_arrow_up
                    .js-multi-collapse-CardInfoOne.collapse
                      .card-body.pt-0.pb-4.px-4
                        ul.text-lightGray.list-unstyled.mb-0
                          li Joanne Lin
                          li Joanne@mail.com
                          li +886 912-345-678
                  // /.card.bg-transparent.c-toogleCard -- js-multi-collapse-CardInfoOne
                  // .card.bg-transparent.c-toogleCard -- js-multi-collapse-CardInfoTwo
                  .card.bg-transparent.c-toogleCard
                    .card-header.bg-transparent.border-bottom-0.py-4.c-toogleCardHeader.collapsed(data-toggle="collapse", data-target=".js-multi-collapse-CardInfoTwo")
                      h5.c-toogleCardHeader__title Ship to
                      p.h6.text-lightGray.c-toogleCardHeader__text.js-multi-collapse-CardInfoTwo.collapse.show
                        span.d-sm-none
                          | 3F., No. 2, Ln. 1, Hello 2nd…
                        span.d-none.d-sm-inline
                          | 3F., No. 2, Ln. 1, Hello 2nd Rd., Woohoo Dist., Kaohsiung City 806, Taiwan
                      span.material-icons.text-primary.toggleIcon.c-toogleCardHeader__icon(data-toggle="collapse", data-target=".js-multi-collapse-CardInfoTwo")
                        | keyboard_arrow_up
                    .js-multi-collapse-CardInfoTwo.collapse
                      .card-body.pt-0.pb-4.px-4
                        ul.text-lightGray.list-unstyled.mb-0
                          li 3F., No. 2, Ln. 1, Hello 2nd Rd.,
                          li Woohoo Dist., Kaohsiung City 806,
                          li Taiwan
                  // /.card.bg-transparent.c-toogleCard -- js-multi-collapse-CardInfoTwo
            // .form-row-Credit Card
            .form-row.mb-6.mb-md-8
              .col-12
                label.h4(for='inputCreditCardInfo')
                  | Credit Card
              .col-12.mb-2
                input.form-control#inputCreditCardInfo(type="text", placeholder='Card number')
              .col-12.mb-2
                input.form-control(type='text', placeholder='Name on card')
              .col-12.col-md-6.mb-2
                //- 方案一： input 只會出現 'yyyy / mm / dd'，不會出現 placeholder 的提示字串內容
                //- input.form-control(type='date', placeholder='Expiration date (MM / YY)')
                //- 方案二：使用 input onfocus 與 onblur 行為切換 type 類型，參考來源：https://www.geeksforgeeks.org/how-to-set-placeholder-value-for-input-type-date-in-html-5/
                input.form-control(type='text', placeholder='Expiration date (MM / YY)', onfocus="(this.type='date')",  onblur="(this.type='text')")
                //- 方案三：type="month" 處理方式 (限 chrome - WebKit 引擎特有，要在最右方點 icon 才會出現選單介面，目前相容性不好)，參考來源：https://www.webhek.com/post/html5-date.html
                //- input.form-control(type='text', placeholder='Expiration date (MM / YY)', onfocus="(this.type='month')",  onblur="(this.type='text')")
              .col-12.col-md-6.mb-2
                input.form-control(type='password', placeholder='Security code')
            // /.form-row-Credit Card
            // .form-row-btns
            .form-row.d-flex.align-items-center.mb-md-6
              .col-12.col-md.mb-2.order-md-2
                a.btn.btn-primary.btn-block(href="checkout-3.html")
                  | Pay now
              .col-12.col-md.mb-2.order-md-1
                a.btn.btn-link.btn-block.text-md-left.px-md-0(href="checkout-1.html")
                  span.material-icons.align-middle.mr-1
                    | keyboard_arrow_left
                  span.d-inline-block.align-middle
                    | Return to information
            // .form-row-btns
            // _c-formFootList--cartPayment.jade
            include ./components/_c-formFootList--cartPayment.jade
            // /_c-formFootList--cartPayment.jade
          // form.col-md-7.col-xl-6.order-md-2.ml-xl-auto