extends extends/_layoutTemplate.jade

block nav
  - var path = 'checkout-1.html'
  // _c-nav.jade
  include ./components/nav/_c-nav.jade
  // /_c-nav.jade

block mainInner
  // section.container-fluid.p-fixedNavSectionFirst.pt-1.pt-md-0
  section.container-fluid.p-fixedNavSectionFirst.pt-1.pt-md-0
    article.row
      .container-md
        .row
          .col-md-5.col-xl-4.mr-xl-auto.order-md-3.mb-6
            // _c-toogleCard.jade
            include ./components/_c-toogleCard.jade
            // /_c-toogleCard.jade
          // /.col-md-5.col-xl-4.mr-xl-auto.order-md-3.mb-6
          nav.col-12.col-xl-10.order-md-1.mb-6.mb-xl-8.mx-xl-auto(aria-label="breadcrumb")
            // _c-breadcrumb--cart.jade
            - var path = 'checkout-1.html'
            include ./components/_c-breadcrumb--cart.jade
            // /_c-breadcrumb--cart.jade
          // /nav.col-12.col-xl-10.order-md-1.mb-6.mb-xl-8.mx-xl-auto(aria-label="breadcrumb")
          form.col-md-7.col-xl-6.order-md-2.ml-xl-auto
            // .form-group-Contact information
            .form-group.mb-8
              label.h4(for='FormControlInputMail')
                | Contact information
              input#FormControlInputMail.form-control.mb-2(type='email', placeholder='Email')
              .custom-control.custom-checkbox
                input#EmailCheckbox.custom-control-input(type='checkbox', name='email-checkbox', value='email-checkbox', checked)
                label.custom-control-label(for='EmailCheckbox')
                  span.h6.text-secondary.mb-0 Keep me up to date on news and special offers
            // /.form-group-Contact information
            // .form-row-Shipping address
            .form-row.mb-6.mb-md-8
              .col-12
                label.h4(for='inputShippingAddress')
                  | Shipping address
              .col-12.col-md-6.mb-2
                input.form-control#inputShippingAddress(type='text', placeholder='Name')
              .col-12.col-md-6.mb-2
                input.form-control(type='tel', placeholder='Phone')
              .col-12.col-md-6.mb-2
                select.custom-select
                  option(selected='', disabled) Country/Region
                  option(value='1') Country/Region 1
                  option(value='2') Country/Region 2
                  option(value='3') Country/Region 3
              .col-12.col-md-6.mb-2
                select.custom-select
                  option(selected='', disabled) City
                  option(value='1') City 1
                  option(value='2') City 2
                  option(value='3') City 3
              .col-12
                input.form-control(type='text', placeholder='Address')
            // /.form-row-Shipping address
            // .form-row-btns
            .form-row.d-flex.align-items-center.mb-md-6
              .col-12.col-md.mb-2.order-md-2
                a.btn.btn-primary.btn-block(href="checkout-2.html")
                  | Continue to payment
              .col-12.col-md.mb-2.order-md-1
                a.btn.btn-link.btn-block.text-md-left.px-md-0(href="product.html?modalID=modalRightScrollable")
                  span.material-icons.align-middle.mr-1
                    | keyboard_arrow_left
                  span.d-inline-block.align-middle
                    | Return to cart
            // .form-row-btns
            // _c-formFootList--cartPayment.jade
            include ./components/_c-formFootList--cartPayment.jade
            // /_c-formFootList--cartPayment.jade
          // /form.col-md-7.col-xl-6.order-md-2.ml-xl-auto
  // /section.container-fluid.p-fixedNavSectionFirst.pt-1.pt-md-0