extends extends/_layoutTemplate.jade

block nav
  - var path = 'checkout-3.html'
  include ./components/nav/_c-nav.jade

block header
  // header.container-fluid
  header.container-fluid
    section.row
      article.container-fluid.c-visionCard
        .c-visionCard__photo.c-visionCard__photo--doneImg
        .c-visionCard__mask
          .c-visionCard__mask__inner
        .row
          .container
            .row.min-vh-100.c-visionCardContent
              .col-xl-5.c-visionCardContent__inner
                h1.display-1.c-visionCardContent__inner__title.mb-6
                  | Well Done!
                h2.display-2.c-visionCardContent__inner__text.mb-0.mb-sm-12
                  | Your order has been received. We’II email you an order confirmation with details.
              .col-xl-3
                a.btn.btn-primary.d-block(href="product.html")
                  | Continue shopping
  // /header.container-fluid
