extends extends/_layoutTemplate.jade

block header
  // header.container-fluid
  header.container-fluid
    section.row
      article.container-fluid.c-visionCard.mb-12.mb-lgmd-18
        .c-visionCard__photo.c-visionCard__photo--bgImg
        .c-visionCard__mask
          .c-visionCard__mask__inner
        .row
          .container
            .row.min-vh-100.c-visionCardContent
              .col-xl-5.c-visionCardContent__inner
                h1.display-1.c-visionCardContent__inner__title.mb-6
                  | Enjoy Your Minimalist Lifestyle.
                h2.display-2.c-visionCardContent__inner__text.mb-0.mb-sm-12
                  | The best crafts in Taiwan. Get your free shipping on the first order.
              .col-xl-2
                a.btn.btn-primary.d-block(href="#")
                  | Shop now
  // /header.container-fluid
  
block mainInner
  // .c-staggerList
  section.container-fluid
    article.row
      ul.container.c-staggerList.mb-12.mb-md-18
        li.c-staggerList__item
          .col-lg-6.c-staggerListCover
            .c-staggerListPpseudoPhoto.c-staggerListPpseudoPhoto--bgImgOne
          .col-lg-4.c-staggerListContent.mx-lg-auto
            h3.c-staggerListContent__title
              | Special Clays
            p.c-staggerListContent__text.text-secondary
              | A general body formulation for contemporary earthenware is 25% kaolin, 25% ball clay, 35% quartz and 15% feldspar.
            a.font-weight-bold.text-capitalize(href="product.html") learn more
        li.c-staggerList__item
          .col-lg-6.c-staggerListCover
            .c-staggerListPpseudoPhoto.c-staggerListPpseudoPhoto--bgImgTwo
          .col-lg-4.c-staggerListContent.mx-lg-auto
            h3.c-staggerListContent__title
              | Less is more
            p.c-staggerListContent__text.text-secondary
              | Trimming pottery can transform a weighty Earth-bound pot into one that is a pleasure to hold, look at, and use.
            a.font-weight-bold.text-capitalize(href="product.html") learn more
        li.c-staggerList__item
          .col-lg-6.c-staggerListCover
            .c-staggerListPpseudoPhoto.c-staggerListPpseudoPhoto--bgImgThree
          .col-lg-4.c-staggerListContent.mx-lg-auto
            h3.c-staggerListContent__title
              | Marvelous Detail
            p.c-staggerListContent__text.text-secondary
              | In <span class="font-italic">Craftsman</span>, the art director, working with marketers, develops or creates an idea of a new creation.
            a.font-weight-bold.text-capitalize(href="product.html") learn more
  // /.c-staggerList
  // .c-author
  section.container-fluid.bg-black.c-author.c-author--bgImg.h-50vh
    article.row.h-100
      .container.h-100
        .row.h-100.pt-6.pb-2.d-flex.flex-column.flex-lg-row.justify-content-between.align-items-center
          .col-lg-4
            h3.h2.font-weight-bold.u-lineHeight-150.text-white.mb-0.mb-lg-7
              | “I want to make the life more simple by crafts.”
          .col-lg-3
            p.text-whiteTranslucent.mb-1.mt-4
              | Art Director
            h4.text-white.mb-0
              | hsiao-Ming Chen
            ul.list-unstyled.list-inline.mb-0
              li.list-inline-item.mr-lg-6
                a.small.d-inline-block.font-weight-bold.py-4(href="#") Instagram
              li.list-inline-item
                a.small.d-inline-block.font-weight-bold.py-4(href="#") Twitter
  // /.c-author