<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title craftsman
    link(rel="stylesheet", href="../../assets/css/all.css")
  body
    h1 craftsman
    .btn-group(role='group', aria-label='Basic example')
      button.btn.btn-secondary(type='button') Left
      button.btn.btn-primary(type='button') Middle
      button.btn.btn-secondary(type='button') Right
    p
      i.material-icons
        | face

  script(src="../../assets/js/allVendors.js")
  script(src="../../assets/js/all.js")
  