extends extends/_layoutTemplate.jade

block header
  // header.container-fluid
  header.container-fluid
    section.row
      article.container-fluid.c-visionCard
        .c-visionCard__photo.c-visionCard__photo--bgImg
        .c-visionCard__mask
          .c-visionCard__mask__inner
        .row
          .container
            .row.min-vh-100.c-visionCardContent
              .col-xl-5.c-visionCardContent__inner
                h1.display-1.c-visionCardContent__inner__title.mb-6
                  | Enjoy Your Minimalist Lifestyle.
                h2.display-2.c-visionCardContent__inner__text.mb-sm-12
                  | The best crafts in Taiwan. Get your free shipping on the first order.
              .col-xl-2
                a.btn.btn-primary.d-block(href="#")
                  | Shop now
  // /header.container-fluid
  
block mainInner
  section.container-fluid
    