.c-modal {
  &Header {
    &__title {
      @include media-breakpoint-up(lg) {
        font-size: 48px;
        & sup {
          font-size: 24px;
          vertical-align: 6px;
        }
      }
    }
    &__closeIcon {
      @include media-breakpoint-up(lg) {
        font-size: 48px;
      }
    }
  }
  &Right {
    &.fade .modal-dialog {
      transform: translate3d(540px, 0, 0);
    }
    &.fade.show .modal-dialog {
      transform: translate3d(0px, 0, 0);
    }
    &__dialogScrollable {
      max-height: 100vh;
      margin: 0;
      @include media-breakpoint-up(sm) {
        margin-left: auto;
      }
    }
    &__content {
      min-height: 100vh;
    }
  }
}
