.c-nav {
  background-color: $white;
}

.c-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    padding: 0px;
    margin-left: -12px;
    margin-right: -12px;
  }
  @include media-breakpoint-up(xl) {
    // padding: 24px 0px;
    margin-left: -18px;
    margin-right: -18px;
  }
  &Link {
    color: $black;
    &:hover {
      text-decoration: none;
      color: $black;
    }
    padding: 12px;
    // @include media-breakpoint-down(lg) {
    // }
    // @include media-breakpoint-up(xl) {
    //   padding: 0px 18px;
    // }
    &--index {
      color: $white;
      &:hover {
        // text-decoration: none;
        color: $white;
      }
    }
  }
  &__toggler {
    @include media-breakpoint-down(lg) {
      color: $black;
      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
    &--index {
      @include media-breakpoint-down(lg) {
        color: $white;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
  &__logo {
    color: $black;
    &:hover {
      color: $black;
    }
    // @include media-breakpoint-up(xl) {
    //   padding-top: 0;
    //   padding-bottom: 0;
    // }
    // &--index {
    //   @include media-breakpoint-down(lg) {
    //     color: $white;
    //     &:hover {
    //       color: $white;
    //     }
    //   }
    // }
  }
  &NavMenu{
    display: flex;
    align-items: center;
    // @include media-breakpoint-down(lg) {
    //   display: none;
    // }
    @include media-breakpoint-up(xl) {
      margin-left: auto;
      margin-bottom: 0;
    }
    &__item {
      list-style: none;
    }
    &Link {
      @include media-breakpoint-down(lg) {
        padding: 16px 0;
      }
      &--white {
        color: $white;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}


.c-visionNav {
  background-color: transparent;
  transition: all .3s;
  .c-navbar {
    &Link {
      @include media-breakpoint-down(lg) {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
    &NavMenu {
      .c-navbarLink {
        @include media-breakpoint-up(xl) {
          color: $white;
          &:hover {
            color: $white;
          }
        }
      }
    }
    &IconLink {
      @include media-breakpoint-up(xl) {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
    &__logo {
      @include media-breakpoint-down(lg) {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
  
}
