.c-staggerList {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  margin-bottom: 0;
  &__item {
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
        & .c-staggerListContent {
          align-items: flex-end;
          text-align: right;
        }
      }
    }
  }
  &Content {
    // @include media-breakpoint-up(md) {}
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__title {
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 16px;
    }
    &__text {
      margin-bottom: 24px;
    }
  }
  &Cover {
    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
    }
  }
  &PseudoPhoto {
    &::after {
      content: "";
      display: block;
      width: 100%;
      @include media-breakpoint-down(lg) {
        padding-top: 73.9393%;  
        // 244/330=0.7393939394
      }
      @include media-breakpoint-up(xl) {
        padding-top: 74.0740%;
        // 400/540=0.7407407407
      }
    }
    &--bgImg {
      &One {
        @include retina('../../assets/img/Special_Clays.jpg', 3, cover, center center no-repeat)
      }
      &Two {
        @include retina('../../assets/img/LessI_is_more.jpg', 3, cover, center center no-repeat)
      }
      &Three {
        @include retina('../../assets/img/Marvelous_Detail.jpg', 3, cover, center center no-repeat)
      }
    }
  }
}



