.u-position {
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  &-top {
    top: 0;
  }
  &-bottom {
    bottom: 0;
  }
}
.u-overflowX-hidden {
  overflow-x: hidden;
}
.u-lineHeight {
  &-150 {
    line-height: 1.5;
  }
  &-130 {
    line-height: 1.3;
  }
  &-115 {
    line-height: 1.15;
  }
  &-100 {
    line-height: 1;
  }
}

.u-mh-100 {
  min-height: 100%;
}