if(path === 'checkout-1.html')
  // if(path === 'checkout-1.html')
  ol.breadcrumb.bg-white.p-0.mb-0
    li.breadcrumb-item.breadcrumb-item--arrow
      a(href='#') Cart
    li.breadcrumb-item.breadcrumb-item--arrow
      a.font-weight-bold.text-black(href='checkout-1.html') Information
    li.breadcrumb-item.breadcrumb-item--arrow.active(aria-current='page') Payment
  // /if(path === 'checkout-1.html')
else if (path === 'checkout-2.html')
  // else if (path === 'checkout-2.html')
  ol.breadcrumb.bg-white.p-0.mb-0
    li.breadcrumb-item.breadcrumb-item--arrow
      a(href='#') Cart
    li.breadcrumb-item.breadcrumb-item--arrow
      a.text-black(href='checkout-1.html') Information
    li.breadcrumb-item.breadcrumb-item--arrow.active.font-weight-bold.text-black(aria-current='page') Payment
  // /else if (path === 'checkout-2.html')
