// _c-formFootList--cartPayment.jade
// ul.list-inline.w-100.d-flex.flex-column.d-md-inline-flex.flex-md-row.border-top.border-lightGray.mb-2
ul.list-inline.w-100.d-flex.flex-column.d-md-inline-flex.flex-md-row.border-top.border-lightGray.mb-2
  li.h6.list-inline-item.mb-0.mr-md-6
    a.d-block.text-secondary.py-2(href="#")
      | Purchase Policy
  li.h6.list-inline-item.mb-0.mr-md-6
    a.d-block.text-secondary.py-2(href="#")
      | Privacy Policy
  li.h6.list-inline-item.mb-0
    a.d-block.text-secondary.py-2(href="#")
      | Terms & Conditions
// /ul.list-inline.w-100.d-flex.flex-column.d-md-inline-flex.flex-md-row.border-top.border-lightGray.mb-2
// /_c-formFootList--cartPayment.jade
