// #modalRightScrollable
#modalRightScrollable.modal.fade.c-modalRight.pr-0(tabindex='-1', role='dialog', aria-labelledby='modalRightScrollableLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-scrollable.c-modalRight__dialogScrollable
    .modal-content.c-modalRight__content.rounded-0.pb-0
      .modal-header.border-0.pb-0.px-lg-12.pt-lg-12.mb-4.mb-lg-7
        h2.h3.font-weight-bold.u-lineHeight-115.modal-title.c-modalHeader__title#modalRightScrollableLabel
          | Cart List 
          sup.text-primary 3
        button.close.p-lg-0.mr-lg-0.mt-lg-0(type='button', data-dismiss='modal', aria-label='Close')
          span.material-icons.c-modalHeader__closeIcon
            | clear
      // /.modal-header.border-0.pb-0.px-lg-12.pt-lg-12.mb-4.mb-lg-7
      .modal-body.py-0.px-lg-12
        .d-flex.d-lg-block.flex-column.min-h-100p
          ul.list-unstyled.c-cartList.mb-2.mb-lg-4
            li.media.bg-light.c-cartList__item.mb-2
              .c-cartList__item__cover
                .c-pseudoPhoto.c-pseudoPhoto-100p.c-pseudoPhoto--TatamiCup.rounded-0
              .media-body.d-flex.flex-column.p-2.p-lg-4
                h3.h5.font-weight-bold.mb-1.u-lineHeight-115.position-relative
                  | Tatami Cup
                  button.close.position-absolute.u-position-right.u-position-top(type='button', aria-label='Close')
                    span.material-icons
                      | clear
                ul.list-inline.c-cartListPrices.mb-auto.u-lineHeight-100
                  li.list-inline-item.text-secondary.c-cartListPrices__special.mr-2
                    | NT$1,080
                  li.list-inline-item.text-lightGray.c-cartListPrices__origin
                    del NT$1,200
                .c-cartListCount
                  .input-group.c-cartListCount__btns
                    .input-group-prepend
                      button.btn.btn-light.p-0(type='button')
                        .material-icons.align-middle
                          | add
                    input.form-control.bg-light.border-0.text-center.h5.h-auto.px-1.py-0(type='text', value="1")
                    .input-group-append
                      button.btn.btn-light.p-0(type='button')
                        .material-icons.align-middle
                          | remove
                  p.font-weight-bold.c-cartListCount__pice
                    | NT$1,080
            // /li.media.bg-light.c-cartList__item.mb-2
            li.media.bg-light.c-cartList__item
              .c-cartList__item__cover
                .c-pseudoPhoto.c-pseudoPhoto-100p.c-pseudoPhoto--BaifanBowl.rounded-0
              .media-body.d-flex.flex-column.p-2.p-lg-4
                h3.h5.font-weight-bold.mb-1.u-lineHeight-115.position-relative
                  | Baifan Bowl
                  button.close.position-absolute.u-position-right.u-position-top(type='button', aria-label='Close')
                    span.material-icons
                      | clear
                ul.list-inline.c-cartListPrices.mb-auto.u-lineHeight-100
                  li.list-inline-item.text-secondary.c-cartListPrices__special.mr-2
                    | NT$1,800
                .c-cartListCount
                  .input-group.c-cartListCount__btns
                    .input-group-prepend
                      button.btn.btn-light.p-0(type='button')
                        .material-icons.align-middle
                          | add
                    input.form-control.bg-light.border-0.text-center.h5.h-auto.px-1.py-0(type='text', value="2")
                    .input-group-append
                      button.btn.btn-light.p-0(type='button')
                        .material-icons.align-middle
                          | remove
                  p.font-weight-bold.c-cartListCount__pice
                    | NT$3,600
            // /li.media.bg-light.c-cartList__item
          .c-cartListTable.mb-auto
            table.table.table-borderless
              tbody.text-secondary.u-lineHeight-115
                tr
                  td.px-0.py-2
                    | Subtotal
                  td.px-0.py-2.text-right
                    | NT$4,680
                tr
                  td.px-0.py-2
                    | Shipping
                  td.px-0.py-2.text-right
                    | NT$80
              tfoot.h3.font-weight-bold
                tr
                  td.px-0.pt-4.pb-6 
                    | Total
                  td.px-0.pt-4.pb-6.text-right
                    | NT$4,760
          // /ul.list-unstyled.c-cartList.mb-2.mb-lg-4
          // /.c-cartListTable.mb-auto
          .c-cartListSubmitBtn.mb-4.mb-lg-12
            a.btn.btn-primary.btn-block.font-weight-bold(href="checkout-1.html") Checkout
          // /.c-cartListSubmitBtn.mb-4.mb-lg-12
        // /.d-flex.d-lg-block.flex-column.min-h-100p
      // /.modal-body.py-0.px-lg-12
    // /.modal-content.c-modalRight__content.rounded-0.pb-0
  // /.modal-dialog.modal-dialog-scrollable.c-modalRight__dialogScrollable
// /#modalRightScrollable
