section.container-fluid
  .row
    .container.mb-12.mb-lg-18
      .row
        .col-12
          // article.swiper-container.swiper-containerExtendReght.bg-whit
          article.swiper-container.swiper-containerExtendReght.bg-whit
            ul.list-unstyled.swiper-wrapper.mb-0
              // mixin slideRoot - output
              +slideRoot( true , 'c-pseudoPhoto--TatamiCup', 'Tatami Cup', 'NT$1,080', 'NT$1,200' )
              +slideRoot( false , 'c-pseudoPhoto--CoupleCollection', 'Couple Collection', 'NT$2,800', '' )
              +slideRoot( false , 'c-pseudoPhoto--SumoVase', 'Brotherhood Vase', 'NT$4,800', '' )
              +slideRoot( true , 'c-pseudoPhoto--BaifanBowl', 'Baifan Bowl', 'NT$1,800', 'NT$1,980' )
              // /mixin slideRoot - output
            .swiper-pagination
          // /article.swiper-container.swiper-containerExtendReght.bg-whit
// /section.container-fluid
