// .swiper-container
section.container-fluid.pl-4.pl-lg-21.pr-0.mb-12.mb-lg-18
  article.swiper-container.bg-white
    ul.list-unstyled.swiper-wrapper.mb-0
      //- mixin slideRoot()
      //- 執行： +slideRoot(onSaleStatus, bgImgClassName, slideRootTitle, price, originPrice)
      mixin slideRoot(onSaleStatus, bgImgClassName, slideRootTitle, price, originPrice)
        li.swiper-slide
          a.w-100.text-black.text-decoration-none(href="detail.html")
            .position-relative.c-pseudoPhoto.c-pseudoPhoto-100p.mb-2(class=bgImgClassName)
              if ( onSaleStatus == true )
                span.small.font-weight-bold.text-white.position-absolute.u-position-right.u-position-top.m-4
                  | On Sale
            div
              h3.font-weight-bold.u-lineHeight-150.mb-1
                | #{slideRootTitle}
              p.mb-0
                span.mr-2
                  | #{price}
                if ( originPrice !== '')
                  del.text-lightGray
                    | #{originPrice}
      //- /mixin slideRoot

      // mixin slideRoot - output
      +slideRoot( true , 'c-pseudoPhoto--TatamiCup', 'Tatami Cup', 'NT$1,080', 'NT$1,200' )
      +slideRoot( false , 'c-pseudoPhoto--CoupleCollection', 'Couple Collection', 'NT$2,800', '' )
      +slideRoot( false , 'c-pseudoPhoto--SumoVase', 'Brotherhood Vase', 'NT$4,800', '' )
      +slideRoot( true , 'c-pseudoPhoto--BaifanBowl', 'Baifan Bowl', 'NT$1,800', 'NT$1,980' )
      // /mixin slideRoot - output

    .swiper-pagination
  // .swiper-container
// /section.container-fluid.pl-4.pl-lg-21.pr-0