// COLORS
$white:           rgba(255, 255, 255, 1) !default;  //#fff !default;
$whiteTranslucent:  rgba(255, 255, 255, 0.6) !default;
$gray-100: rgba(0, 0, 0, 0.38) !default;  // #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: rgba(0, 0, 0, 0.6) !default;  // #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    rgba(18, 18, 18, 1) !default;  // or #121212   // #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #0E8A00 !default;  // #28a745 !default
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
// END COLORS